name: Bot Approve PR


jobs:
  bot_approve_internal:
    runs-on: ubuntu-latest
    steps:

      - name: Bot Approve PR
        run: |
          curl -X POST -H "Authorization: token ${{ steps.app-token.outputs.token }}" \
            -d '{"event":"APPROVE"}' \
            https://api.github.com/repos/${{ inputs.repository }}/pulls/${{ inputs.pull_request_number }}/reviews

      - name: Re-Run All Workflows
        run: |
          gh run list --repo SiliconLabsSoftware/${{ inputs.repo }} --branch ${{ inputs.branch }} --json databaseId | jq -r '.[].databaseId' | while read id; do
            gh run rerun $id --repo SiliconLabsSoftware/${{ inputs.repo }}
          done
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}            