name: CI-Check

on:
  pull_request_target:
    types: [opened, reopened, synchronize, edited]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  WORKSPACE: /__w/${{ github.event.repository.name }}/${{ github.event.repository.name }}
  CI_REPO_DIR: /__w/${{ github.event.repository.name }}/${{ github.event.repository.name }}/application_examples_ci
  repo: ${{ github.event.repository.name }}
  
jobs:
  build_firmware:
    runs-on: ${{ github.repository_visibility == 'internal' && 'agent-internal' || 'ubuntu-latest' }}
    container:
      image: ghcr.io/siliconlabs-massmarket/zephyr-env:latest    
    outputs:
      result_build: ${{ steps.check_build.outputs.result_build }}
    steps:
    - name: Create GitHub App Token
      id: app-token
      uses: actions/create-github-app-token@v2
      with:
        app-id: ${{ secrets.GH_APP_ID }}
        private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}
        owner: ${{ github.repository_owner }}

    - name: Checkout code repository
      uses: actions/checkout@v4
      with:
        repository: ${{ github.repository  }}
        token: ${{ steps.app-token.outputs.token }}
        path: 'projects'

    - name: Setup Java
      if: ${{ steps.pr_check.outputs.has_changes == 'true' }}
      uses: actions/setup-java@v4
      with:
        distribution: 'oracle'
        java-version: '21'

    # - name: Set up Python 3.10
    #   if: ${{ steps.pr_check.outputs.has_changes == 'true' }}
    #   uses: actions/setup-python@v5
    #   with:
    #     python-version: '3.10'

    - name: Run build the projects
      if: ${{ steps.pr_check.outputs.has_changes == 'true' }}
      id: check_build
      run : |
          mkdir -p $CI_REPO_DIR/$repo
          ls $CI_REPO_DIR
          python3 --version
          
          
          echo "result_build=failure" >> $GITHUB_OUTPUT

          cd /opt/zephyrproject
          mkdir -p zephyr_applications
          cp -r $WORKSPACE/projects/* zephyr_applications
          west init -l zephyr_applications
          west update
          west zephyr-export
          west blobs fetch hal_coge
          
          pip3 install -r /opt/zephyrproject/zephyr/scripts/requirements.txt > /dev/null 2>&1

          export SCRIPT_PATH=$WORKSPACE/aep_ci_tools/zephyr/zephyz_checkproject.py
          python3 -u $SCRIPT_PATH $WORKSPACE/projects/changed_projects.txt

          GREP_COLORS='mt=32' grep --color=always 'Pass\|$' $WORKSPACE/build_test_project.log | GREP_COLORS='mt=31' grep --color=always 'Fail\|$'
          if grep -qe "Fail" $WORKSPACE/build_test_project.log; then
            if [ -f $WORKSPACE/zephyz_build_fail.log ]; then
              cat $WORKSPACE/zephyz_build_fail.log
            fi
            exit 1
          else
            echo "result_build=success" >> $GITHUB_OUTPUT
          fi
